/* Global CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --col1: rgb(248, 68, 100);
  --col2: #4e4f60;
  --errorcol: rgb(255, 0, 0);
}
a {
  color: var(--col1);
  text-decoration: none;
}
p {
  margin-bottom: 0;
}

.theme_btn1 {
  background-color: var(--col1);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}

.linkstylenone {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

/* Navbar CSS */
nav {
  background-color: var(--col2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left {
  display: flex;
  align-items: center;
}
nav img {
  height: 30px;
  margin-right: 10px;
}
.searchbox {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  width: 500px;
}

.searchbtn {
  margin-right: 5px;
  font-size: 1.2rem;
  color: var(--col2);
}

input[type="text"] {
  border: none;
  outline: none;
  background: none;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.theme_icon1 {
  font-size: 1.5rem;
}

.dropdown {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  cursor: pointer;
}

.dropicon {
  font-size: 20px;
}

/* MovieCard CSS */
.moviecard {
  border-radius: 20px;
  overflow: hidden;
  /* border: 1px solid var(--col1); */
  box-shadow: 0px 0px 10px 5px #f4f4f4;
  width: 95%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
}

.moviecard .movieimg {
  object-fit: contain;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
}
.moviecard .movieimg .rating {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 5px;
}

.moviecard .movieimg .rating .star {
  color: var(--col1);
}

.moviecard .details {
  padding: 5px 10px;
}

.moviecard .details .title {
  font-size: 16px;
  font-weight: 600;
}

.moviecard .details .type {
  font-size: 12px;
  font-weight: 600;
  color: grey;
}

/* Auth CSS */
.authin {
  display: flex;
  width: 900px;
  min-height: 400px;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  background-color: white;

  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.authin .left {
  width: 40%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authin .right {
  width: 60%;
  padding: 20px;
}

.authin .right form {
  /* background-color: aqua; */
  width: 100%;
}

.authlink {
  align-self: center;
  margin: 10px 0px;
  color: var(--col3);
}

.authlink a {
  color: var(--col1);
  font-size: 20px;
  font-weight: 500;
}

.forminput_cont {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px 0px;
  gap: 10px;
  width: 100%;
  position: relative;
  /* background-color: #333; */
}

.forminput_cont input {
  background-color: white;
  border-bottom: 1px solid var(--col1);
  padding: 10px;
  font-size: 15px;
  width: auto;
  border: none;
  border-bottom: 1px solid var(--col1);
  /* margin-left: 40px; */
}

.forminput_cont input:focus {
  outline: none;
  border-bottom: 2px solid var(--col2);
  /* margin-left: 40px; */
}

.forminput_cont label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  /* margin-left: 2rem; */
  margin-top: 0.7rem;
  display: block;
  color: var(--col1);
  width: 100%;
  /* margin-left: 40px; */
}

.main_button {
  background-color: white;
  /* Green */

  color: var(--col1);
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--col1);
  width: fit-content;
  align-self: center;
  margin: 10px;
}

.main_button:hover {
  border: 1px solid var(--col1);
  background-color: var(--col1);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.formerror {
  color: var(--errorcol);
}

/* Footer CSS */
.footer_new {
  background-color: var(--col2);
  margin-top: clamp(24px, 4vw, 48px);
}
.footer_new .footer_new_items {
  padding: 50px 0 40px;
  margin: 0 clamp(28px, 5vw, 52px);
  border-top: 1px solid #8d8d8f;
  border-top: 1px solid var(--light-1);
  display: flex;
  align-items: center;
  flex-direction: column;
}
